{% block promo %}
  <div id="promo-block" class="promo-block">
    <div class="container">
      <div class="promo-block-inner">
        <div class="row">
          <div class="content-holder col-lg-7 col-md-6 col-12">
            <div class="content-holder-inner">
              <div class="desc">
                <p>
                  Hi! Thanks for viewing this page. My name is <a href="https://github.com/Huy-DaraPichchan">Chan</a>. I'm a passionate guy who likes to learn new tech and build stuffs. I created this because I use Django very often, and I have to start a new project a lot of time. Therefore, I made this just to make my life and maybe those who faced the same problem's life a bit easier. I'm pretty sure there are other website or library that does this for you, but I just wanna make this for fun as well. Anyway, click the button below to check out more of my work.
                </p>

                <a class="btn btn-cta" href="https://github.com/Huy-DaraPichchan" target="_blank"><i class="fab fa-github"></i> Github</a>
              </div>
              <!-- //desc -->
            </div>
            <!-- //content-holder-inner -->
          </div>
          <!-- //content-holder -->
        </div>
        <!-- //row -->
      </div>
      <!-- //promo-block-inner -->
    </div>
    <!-- //container -->
  </div>
{% endblock %}
