{% block sidebar %}
  <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
    <div id="doc-nav" class="doc-nav">
      <nav id="doc-menu" class="nav doc-menu flex-column sticky">
        <li class="nav-item">
          <a class="nav-link scrollto" href="#installation-section">Installation</a>
        </li>
        <nav class="nav doc-sub-menu nav flex-column">
          <li class="nav-item">
            <a class="nav-link scrollto" href="#step1">1. Checking Python version</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#step2">2. Setting up Python Virtual Environment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#step3">3. Install Django</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#step4">4. Create Django Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#step5">5. Navigate into the Project and Start an App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#step6">6. Run the app locally</a>
          </li>
        </nav>
        <!-- //nav -->
        <li class="nav-item">
          <a class="nav-link scrollto" href="#code-section">Code</a>
        </li>

        <nav class="nav doc-sub-menu nav flex-column">
          <li class="nav-item">
            <a class="nav-link scrollto" href="#code1">1. Configure a Basic Index View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#code2">2. Define the URL Configuration for the App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#code3">3. Create the Index View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#code4">4. Include App URLs in the Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#code5">5. Test the Index Page</a>
          </li>
        </nav>
        <!-- //nav -->

        <li class="nav-item">
          <a class="nav-link scrollto" href="#video-section">Video</a>
        </li>
      </nav>
      <!-- //doc-menu -->
    </div>
  </div>
{% endblock %}
